*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
     }
     .main{
        background: url(./coffee3.jpg) no-repeat center/cover;
        width: 100%;
        height: 700px;
     }
     .navbar{
     width: 80%;
     height: 70px;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: white;}
     .collection{
        display: flex;
    list-style: none;
    gap: 50px;
     }
     .navbar h1{
        font-family: cursive;
        font-weight: 300;
     }
     li{
        transition-duration: .2s;
        transition-timing-function: linear;
        transition-delay: 0s;
        transition-property: all;
    }
    li:hover{
        border:2px solid dodgerblue;
        color:dodgerblue;
        padding: 10px;
        background-color: white;
    border-radius: 18px; }
    
.box{
    width: 50%;
    padding-top: 30px;
    margin: auto;
    padding-top: 100px;
    
}
.box h2{
    color: white;
    padding-bottom: 30px;
    font-size: 60px;
    font-weight: 400;
    padding-left:200px;
}
.box h1{
    color: white;
    padding-bottom: 30px;
    font-weight: 800;
}
.box p{
    color: white;
    padding-bottom: 50px;
}
.box button{
width: 250px;
height: 36px;
border-radius: 4px;
color: #fff;
background-color:dodgerblue;
border: 1px solid dodgerblue;
transition: .5s linear 0s all;
margin-left: 190px;
}
.box button:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
